.HomeMain{
    width: 100%;
    min-height: 3000px;
    background: #1b1b1b;
    padding-top: 108px;
}
.HomeMain__mainSlide{
    height: 530px;
    min-width: 1240px;
    max-width: 2340px;
    margin: 0 auto 50px;
    background: #1b1b1b;
    position: relative;
    overflow: hidden;
}
.HomeMain__mainSlide__slideWrapper{
    width: 100%;
    position: absolute; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: .35s;
}
.HomeMain__mainSlide__slideWrapper li{
    width:33%;
    min-width: 760px;
    background: #fefefe;
    margin-right: 30px;
    position: relative;
    flex-shrink: 0;
}
.HomeMain__mainSlide__slideWrapper li img{
    position: absolute;
    top: 0;
    left:50%;
    transform: translateX(-50%);
    height: 480px;
    width: 100%;
}
.HomeMain__mainSlide .prevBtn{
    background: url('../asset/icon/arrow-banner-left.png') no-repeat center/ cover;
    outline-style: none;
    border: none;
    position: absolute;
    top: 186px; left: 100px;
    width: 100px;
    height: 100px;
    z-index: 20;
    cursor: pointer;
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}
.HomeMain__mainSlide .prevBtn:hover{
    filter: none;
}
.HomeMain__mainSlide .nextBtn{
    background: url('../asset/icon/arrow-banner-right.png') no-repeat center/ cover;
    outline-style: none;
    border: none;
    position: absolute;
    top: 186px; right: 100px;
    width: 100px;
    height: 100px;
    z-index: 20;
    cursor: pointer;
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}
.HomeMain__mainSlide .nextBtn:hover{
    filter: none;
}
.HomeMain__mainSlide__indicator{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.HomeMain__mainSlide__indicator .controlBtn.play{
    width: 30px;
    height: 30px;
    outline-style: none;
    border: none;
    cursor: pointer;
    background: url('../asset/icon/stop.png') no-repeat center / cover;
}
.HomeMain__mainSlide__indicator .controlBtn.stop{
    width: 30px;
    height: 30px;
    outline-style: none;
    border: none;
    cursor: pointer;
    background: url('../asset/icon/play.png') no-repeat center / cover;
}
.HomeMain__mainSlide__indicator span{
    width: 10px;
    height: 10px;
    background: #333333;
    border-radius: 100%;
    margin:0 3px;
    cursor: pointer;
}
.HomeMain__mainSlide__indicator span.active{
    background: #1351f9;
}
.HomeMain__bannerBar{
    width: 100%;
    height: 96px;
    margin: 0 auto 80px;
    background: rgb(25, 36, 56);
}
.HomeMain__bannerBar a{
    display: block;
    height: 96px;
    background: url('../asset/image/banner.jpg')no-repeat center;
}
.HomeMain__episode__wrapper{
    width: 1240px;
    margin: 0 auto;
    min-height: 327px;
    overflow: hidden;
    position: relative;
}
.HomeMain__episode__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HomeMain__episode__title{
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
}
.HomeMain__episode__title h2{
    color: #fefefe;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-right: 10px;
}
.HomeMain__episode__title a{
    color: #a5a5a5;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.HomeMain__episode__indicator{
    display: flex;
}
.HomeMain__episode__indicator span{
    width: 8px;
    height: 8px;
    background: #333333;
    border-radius: 100%;
    margin:0 3px;
    cursor: pointer;
}
.HomeMain__episode__indicator span.active{
    background: #1351f9;
}
.HomeMain__episode__slidewrapper{
    display: flex;
    position: absolute;
    left: 0;
    transition: .3s;
}
.HomeMain__episode__slidewrapper .thumbnail{
    width: 240px;
    height: 135px;
    margin-right: 10px;
}
.HomeMain__episode__slidewrapper .thumbnail img{
    width: 100%;
    border: 1px solid hsla(0,0%,65.9%,.15);
}
.HomeMain__episode__slidewrapper .title{
    width: 240px;
    background: #252525;
    padding: 10px 10px 20px;
    display: flex;
    flex-direction: column;
}
.HomeMain__episode__slidewrapper .title span{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color:#a5a5a5;
    font-size: 16px;
    line-height: 24px;
}
.HomeMain__episode__prevBtn{
    border: none;
    outline-style: none;
    background: url('../asset/icon/arrow-episode-left.png') no-repeat;
    position: absolute;
    left: -30px;
    top: 72px;
    transform: translateY(50%);
    width: 30px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s;
}
.HomeMain__episode__nextBtn{
    border: none;
    outline-style: none;
    background: url('../asset/icon/arrow-episode-right.png') no-repeat;
    position: absolute;
    right: -30px;
    top: 72px;
    transform: translateY(50%);
    width: 30px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s;
}
.HomeMain__recommend{
    
}
